.writingnote1 {
  height: auto;
}
.writingnote1 #heading {
  text-align: left;
  padding: 0;
}
.writingnote1 .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.writingnote1 .right {
  padding: 80px 50px;
}
.writingnote1 .items {
  margin-top: 50px;
}
.writingnote1 .item {
  background-color: #fff;
  margin-top: 30px;
  padding: 20px;
  transition: 0.5s;
}
.writingnote1 .img {
  width: 200px;
}
.writingnote1 img {
  width: 70px;
  height: 70px;
}
.writingnote1 .item h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
.writingnote1 .item p {
  color: #999999;
}
.writingnote1 .item:hover {
  background-color: #133696;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
}
.writingnote1 .item:hover p {
  color: #fff;
}
